.main {
    flex: 1;
    max-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img {
    width: 40px;
    border-radius: 50%;
}

.main-container {
    max-width: 900px;
    height: 100%;
    padding-bottom: 15vh;
    margin: auto;
    overflow: scroll;
    scrollbar-width: none;
}

.main .greet {
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
    margin-bottom: 10px;
}

.main .card {
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p {
    color: #585858;
    font-size: 17px;
}

.main .card:hover {
    background-color: #dfe4ea;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
    background-color: white;
}

.main-bottom img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img {
    width: 24px;
    cursor: pointer;
}

.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
}

.search-box button:hover {
    background-color: #dfe4ea;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
}

.main .bottom-info {
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.main-bottom img {
    transition: opacity 1s ease-in-out;
}

.result {
    max-width: 90%;
    margin: auto;
    padding: 20px;
}

.result .result-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 20px;
}

.prompt {
    max-width: 70%;
    padding: 25px 25px;
    border-radius: 50px;
    border-top-right-radius: 0px;
    font-size: 18px;
}

.result-data {
    font-size: 18px;
    line-height: 1.5;
    /* transition: text-wrap 0.3s ease; */
}

.result-data img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.result-data p {
    margin-top: 20px;
    /* animation: textappear 0.5s ease-in-out; */
}

@keyframes textappear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}